!!!
%html
  %head
    %title Hire Alex Ford

    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    %script(type="text/javascript" src="//use.typekit.net/gda6dgi.js")

    :javascript
      try{Typekit.load();}catch(e){}

    %link(rel="stylesheet" href="/stylesheets/main.css")

  %body
    .container
      %section.white.intro
        .avatar
        %h1 I'm Alex Ford
        %p
          I am a digital media generalist with experience in UI/UX design, web development, copywriting, motion graphics/video, and tech entreprenuership. I work fast to solve problems and am a quick learner of new technology and methods. You can learn more about me and my background on
          %a(href="http://twitter.com/alexford" target="_blank") Twitter
          or
          %a(href="http://www.linkedin.com/profile/view?id=24105971" target="_blank") LinkedIn
          

      %section
        %h1
          I'm available for long term projects, and I am also making my time available in one hour consulting blocks, for
          %strong $100.

        %h2
          %strong I can get a lot done in an hour.
          %small
            %a(href='#testimonials')
              (see testimonials)
          %br
          Here are some of the things I can help you with:

      %section.skill.white
        %i.icon-left.fa.fa-picture-o.blue
        %h2 Design and branding
        %p I can take a look at your interface, print piece, brand identity, website, or other design and provide quality, constructive, and actionable feedback. 

      %section.skill
        %i.icon-right.fa.fa-video-camera.green
        %h2 Video and digital media
        %p I have a keen eye for details in video, motion graphics, and other digital media. In an hour I can review your media and provide actionable feedback.

      %section.skill.white
        %i.icon-left.fa.fa-code.red
        %h2 HTML, CSS, and JavaScript issues
        %p I am an experienced front end web developer with a knack for solving weird website problems. jQuery plugin not working? IE freaking out on your CSS? No problem, just point me at your site.

      %section.skill
        %i.icon-right.fa.fa-cloud-download.turqoise
        %h2 Website performance
        %p I will check out your website and quickly point out specific front end changes that will help it load faster for your visitors, and help implement them.

      %section.skill.white
        %i.icon-left.fa.fa-lightbulb-o.orange
        %h2 App idea consultation
        %p Got an idea for an iPhone app or tech startup? Let me hear it and I can help you brainstorm markets, analyze competitors, and talk through technical challenges and next steps.

      %section.skill
        %i.icon-right.fa.fa-pencil.purple
        %h2 Writing
        %p I can help smooth out your copy, or help you write a blog post, email, or landing page from scratch.

      %section.skill.white
        %i.icon-left.fa.fa-user.green
        %h2 Talent
        %p Hiring a designer or web developer? I can talk through and identify the skills and traits you need, and help evaluate candidates.

      / %section#testimonials.testimonials
      /   %h1 Client Testimonials
      /   .testimonial
      /     %p
      /       "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
      /       %span.source
      /         Ryan Battles,
      /         %a(href='http://wearebucketandshovel.com' target='_blank') Bucket & Shovel

      /   .testimonial
      /     %p
      /       "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
      /       %span.source
      /         Nils Root,
      /         %a(href='http://gohayo.com' target='_blank') Hayo
      /         ="/"
      /         %a(href='http://bookbagvideo.com' target='_blank') Bookbag Video

      / status sections
      %section#error.status.ruled.hidden
        %h2
          = succeed ' ' do
            %i.fa-exclamation-circle.fa
          %br
          There was a problem reserving your hour. Please get in touch with me and I will work it out!

      %section#reserving.hidden.status.ruled
        %h2
          = succeed ' ' do
            %i.fa-refresh.fa.fa-spin
          %br
          Reserving your hour...

      %section#success.hidden.status.ruled
        %h2
          = succeed ' ' do
            %i.fa-check.fa
          %br
          Thanks! You will hear from me very soon.

      %section#form.ruled
        %h1 Ready to have your problem solved?
        %form
          .input.half
            %label(for="reservation[name]") Your name
            %input(name="reservation[name]" type="text")
          .input.half
            %label(for="reservation[email]") Your email address
            %input(name="reservation[email]" type="email")
          .input.full
            %label(for="reservation[message]")
              Brief description of your problem/request
              %small (With relevant URL if applicable)
            %textarea(name="reservation[message]")
          %input(type="hidden" name="reservation[token]")

          %input(type="submit" value="Get your hour now")

          .info
            .amount
              %strong $100
              USD
              %small
                Charged when your hour
                %br
                is scheduled


      %section.ruled.info
        %h2 How does this work?
        %p
          When you purchase an hour, I will get in touch via email as quickly as possible and schedule your time. The scheduling will depend on the nature of your problem, whether or not we'll need to be in touch during the work, and my current availability. I will make every attempt to get your hour scheduled within 2 business days of your purchase.

        %p
          %strong
            Your credit card will not be charged until your hour is scheduled at a time that works for you. However, if your problem is extremely time sensitive, I reccomend contacting me ahead of time to ensure I can accomodate you.

        %p
          If, after this hour, it makes sense for us to continue working together beyond your hour, we'll set up a new contract and rate for your project, and get cracking.

        %p
          If you're in Columbus, Ohio, we can arrange to meet for your hour in person, if you prefer.

        %p
          The eventual charge to your credit card will appear from Crater Creative, LLC

        %h2 Any other questions?
        %p
          The best way to get in touch with me is through the form above or 
          %a(href="http://twitter.com/alexford" target="_blank") Twitter

      %section.ruled.info
        %p
          %strong Copyright ©2014 Alex Ford
          %br
          Columbus, OH

  %script(type="text/javascript" src="https://checkout.stripe.com/checkout.js")

  :javascript
    var bootstrap = {
      stripe_key: "#{ENV['STRIPE_KEY_PUBLISHABLE']}"
    };

  = javascript_bundle_include_tag(:all)
